* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1380px;
}
.visual {
  /* background: url(./images/visual.jpg) no-repeat center; */
  background-size: cover;
}
